*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Catamaran', sans-serif;
}
.logo{
    position: absolute;
    z-index: 8;
    top: 2rem;
    left: 2rem;
}
.logo a{
    color: white;
    text-decoration: none;
    
}
.logo i{
    color: #F0B720;
}
.logo span{
    font-weight: 100;
    font-size: 2.5rem;
}
.container{
    width: 100%;
    height: 635px;
    background-color: black;
}
.box1{
    display: inline-block;
    width: 64.3%;
    height: 100%;
}
.box2{
    display: inline-block;
    width: 35.4%;
    height: 100%;
  

}
.box1 img,.box2 img{
    width: 100%;
}

.box1 a{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #ffffff;
    position: relative;
    transition: all 0.2s ease;
    z-index:7;
}
/* .box1 a:hover{
      opacity: 0.7;
} */
.box1 a img{
    height: 100%;
    z-index: 0;
    transform: scale(1);
    transition: all 0.2s ease;
}
.box1 a img:hover{
    transform: scale(1.05);
    opacity: 0.7;
}
.box1 .wrapper{
    position: absolute;
    bottom: 0;
    padding: 1rem;
    padding-bottom: 2rem;
    padding-left: 4.3rem;
    
   
    background: linear-gradient(rgba(0, 3, 3, 0), rgb(3, 3, 3)); 
    z-index: 9;
    
}


.wrapper h3 img{
   text-align: right;
}

.wrapper p{
    line-height: 25px;
}



/* top---foot */

.top-foot{
  background-color:brown;
  width:100%;
}
.div1,.div2{
 float:left;
padding-top:0.5rem; 

}
.div1{
  text-align:left;
   width:70%;
}
.div2{
  margin-left: 4%;
  width:26%;
  position:relative;
  height:40px;
}
.author{
 background-image:url("https://assets.website-files.com/59f5ae906a27c400013267f0/5a0971097dd52a0001692aef_Portrait-3.jpg");
  background-position:center;
  background-origin: border-box;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  width:45px;
  border-radius: 5px;
  float:left;
}
.author-name{
  float:left;
  text-align:left;
  padding-left:1rem;
}
.author-name p{
    line-height: 17px;
    padding-left: 0rem;
}

/* end top foot */



.raiting{
    border-radius: 20px;
    background-color: #F0B720;
    padding: 0.1rem 0.6rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.wrapper h2{
    font-size: 74px;
    font-weight: 800;
    z-index: 10;
    padding-bottom:0px; 
}
.info-element {
    display: inline-block;
    
  
}

.top-text{
    padding-right: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
    word-wrap: break-word;
}

.info-element:first-of-type{
    color: #F0B720;
}
.info-element i{
    color: #F0B720;
}
.read-more{
    border: 2px solid white;
    border-radius:5px;  
    background: transparent;
    background:none;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.7rem 1.1rem;
    transition: all 0.2s ease;
    border-color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    cursor: pointer;
}
.read-more:hover{
    background-color: white;
    color: black;
}
.box2{
    vertical-align: top;
   position: relative;
}
.left-2-item1,.left-2-item2{
    display:inline-block; 
}
.left-2-item1,.left-2-item2{
    width: 51%;
    margin:-4px; 
}

.left-1{
   height: 370px;
   background-color: #F0B720;
   overflow: hidden;
   position: relative;
}
.left-1 img{
    height: 100%;
}
.left-1,.left-2{
    overflow: hidden;
    background-color: #000000;
}
.box2  img{
    height: 100%;
    z-index: 0;
    transform: scale(1);
    transition: all 0.2s ease;
}
.box2  img:hover{
    transform: scale(1.05);
    opacity: 0.7;
}
.image-container{
    position: relative;
    color: white;
    font-size: 1rem;
}
.wrapper-2{
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 30;
    background:transparent;
    padding: 1.2rem;
    background: linear-gradient         (to bottom,rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%); /* W3C */  


}
.author-left1{
    background: url('https://assets.website-files.com/59f5ae906a27c400013267f0/5a097100d65a2f0001bcecad_Portrait-1.jpg');
     background-position:center;
     background-origin: border-box;
     background-repeat:no-repeat;
     background-size:cover;
     height:100%;
     width:40px;
     border-radius: 5px;
     float:left;
}
.author-name-left1 p{
    line-height: 17px;
    padding-left:3rem; 
}


/* LEFT 2 ITEM-2 */

.left-2-item1,.left-2-item2{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.left-2 {
    height: 265.2px;
  

}
.wrapper-3{
    position: absolute;
    width: 100%;
    
    z-index: 30;
    background:transparent;
    padding: 1.5rem;
    padding-left: 1rem;
    
    background: linear-gradient(rgba(0, 3, 3, 0), rgb(68, 67, 67)); 
    z-index: 1;
    bottom: 0;
}
.wrapper-3 i{
    font-size: 0.8rem;
}
.wrapper-3 h2{
    font-size: 2rem;
}
#image{
    z-index: 10;
}

.left-2-item2 .wrapper-3 h2{
    padding: 1.03rem;
}
/* END LEFT 2 ITEM 2 */